.page-gallery {
	&__wrap {
		padding: 48px 0 96px 0;
	}

	&__title {
		margin-bottom: 56px;
		text-align: center;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 20px;
	}

	&__item {
		border-radius: 16px;
		overflow: hidden;
		& img {
			width: 100%;
			height: 100%;
		}
	}
}

@media (max-width: 1170px) {
	.page-gallery {
		&__wrap {
			padding: 48px 0 72px 0;
		}

		&__title {
			margin-bottom: 30px;
		}

		&__list {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

@media (max-width: 768px) {
	.page-gallery {
		&__list {
			gap: 8px;
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

@media (max-width: 500px) {
	.page-gallery {
		&__list {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
