<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/swiper-bundle-8.1.5.css" />
    <link rel="stylesheet" href="./css/lightgallery-bundle.min.css" />
    <link rel="stylesheet" href="./css/style.css" />

    <script src="https://api-maps.yandex.ru/2.1/?apikey=96df79ce-9b3a-4c30-9be4-f10240352703&amp;lang=ru_RU"
        type="text/javascript">
        </script>
    <title>Document</title>
</head>

<body>

    <div class="wrapper">

        <!-- HEADER -->