<nav class="header__nav main-nav">
    <ul class="main-nav__list">

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Услуги</a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Частые вопросы</a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Цены</a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Фотогалерея</a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Контакты</a>
        </li>

    </ul>
</nav>